body{
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"]{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: blueviolet;
    margin: 0 3px;
    color: white;
    transition: 0.5s all ease;
}

button:hover{
    background-color: rgb(167, 73, 255);
}